/*
blue : 0C359E
pink : EE99C2
cream : FFE3CA
grey : F6F5F5
*/

.main {
    background-color: #0C359E;
    padding: 50px;
}

.home {
    /* background-color: #FFE3CA; */
    border-radius: 12px;
    padding: 50px;
}

.home h1 span {
    /* font-size: 40px; */
    color: #F6F5F5;
}

.home h1 {
    color: #F6F5F5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;

    .name {
        color: #FFE3CA;
        font-size: 50px;
    }
}

.home p {
    color: #EE99C2;
    font-size: 20px;
    font-weight: 400;
    margin: 0px;

}

.mypic {
    width: 300px;
    border-radius: 12px;
    margin-block: 20px;
    float: center;
    /* filter: contrast(29); */
    /* filter: grayscale(); */
    /* filter: saturate(); */
}

.home-main {
    display: flex;
    flex-wrap: wrap;
}

.line{
    height: 1px;
    background-color: #fff;
    border-radius: 20px;

}

@media screen and (min-width: 576px) {
    .home-main {
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

@media screen and (max-width: 575px) {
    .home h1 {
        font-size: 28px;
        .name {
            font-size: 35px;
        }
    }

    .home-main {
        flex-direction: column;
    }

    .main {
        padding: 20px;
    }

    .home {
        padding: 20px;
    }

    .mypic{
        width: 100%;
    }
}
